<%- include("header.ejs") %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/button.css" />
    <link rel="stylesheet" href="styles/posts.css" />
  </head>
  <body>
    <h1>Welcome <%= userName ? userName : '' %>!</h1>
    <button type="button" onclick="window.location.href='/create-post'">Create A New Post</button>

    <h2>Posts:</h2>
    <div class="post-container">
      <% if (posts && posts.length > 0) { %>
        <% posts.forEach((post) => { %>
          <div class="post-box">
            <p><%= post.content %></p>
            <a href="/posts/<%= post.id %>/update">Update Post</a>
          </div>
        <% }); %>
      <% } else { %>
        <h2>No posts available.</h2>
      <% } %>
    </div>
  </body>
</html>
